

main{
    width: 90%;
    margin: auto;
    background-color: inherit;
    margin-bottom: 76px;
}

.title-main{
    width: 100%;
    padding: 16px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.section-0,
.section-1,
.section-2{
    text-align: center;
    width: 100%;
}

.section-0,
.section-1,
.section-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 24px;
    width: 80%;
}
.lang{
    width: calc(47% - 10px);
}
.lang span{
    margin: 10px 10px;
    text-transform: uppercase;
}
.progress-bar-circle{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 10px solid var(--color-white);
    margin: auto;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.progress-bar-circle a{
    margin: auto;
}

@media (min-width: 600px) {  

    main{
        width: 80%;
        margin: auto;
        background-color: inherit;
        margin-bottom: 76px;
    }
}

@media (min-width: 1280px) {  

    main{
        width: 70%;
        margin: auto;
        background-color: inherit;
        margin-top: 76px;
    }
}
        



