.menu-bar{
    background-color: var(--color-neutral);
    width: 100%;
    height: 60px;
    bottom: 0px;
    position: fixed;
    display: inline-block;
    z-index: 1;
}
.menu-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-bar ul li{
    display: flex;
    align-items: center;
    width: calc(25% - 15px);
    padding: 10px;
}
.li-estadisticas{
    width: calc(40% - 15px) !important;
}
.opcion{
    width: 100%;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-white);
    text-align: center;
    box-sizing: border-box;
}
.opcion:hover{
    color: var(--color-white);
}
.opcion .icon{
    display: inline-block;
    width: 100%;
}
.opcion span{
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.home{
    color: var(--color-green);
}
.statitics{
    color: var(--color-white);
}
.profile{
    color: var(--color-white);
}

@media (min-width: 600px) {  
    .menu-bar{
        width: 100vw;
        background-color: var(--color-black);
    }

    .menu-bar ul{
        width: 380px;
        background-color: var(--color-neutral);
        position: fixed;
        bottom: 0px;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
        left: 50%;
        margin-left: -190px;
        z-index: 0;
    }

    .menu-bar ul li{
        background-color: var(--color-neutral);
    }
    .li-home{
        border-top-left-radius: 25%;
    }
    .li-profile{
        border-top-right-radius: 25%;
    }


}        
@media (min-width: 1240px) {


    .menu-bar{
        width: 100vw;
        background-color: var(--color-black);
    }

    .menu-bar ul{
        width: 500px;
        background-color: var(--color-neutral);
        position: fixed;
        top: 0;
        bottom: initial;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
        left: 50%;
        margin-left: -250px;
        z-index: 0;
    }

    .menu-bar ul li{
        background-color: var(--color-neutral);
    }
    .li-home{
        border-top-left-radius: 0;
        border-bottom-left-radius: 30%;
    }
    .li-profile{
        border-top-right-radius: 0;
        border-bottom-right-radius: 30%;
    }


}