
main{
    width: 90%;
    margin: auto;
    background-color: inherit;
    margin-bottom: 76px;
}
.home{
    color: var(--color-white) !important;
}
.statitics{
    color: var(--color-green) !important;
}
.profile{
    color: var(--color-white);
}

.title-main{
    width: 100%;
    padding: 16px;
    font-weight: 600;
    font-size: 18px;
    text-align: start;
}

.form form select{
    background-color: inherit;
    border: none;
    outline: none;
    color: var(--color-white);
    margin-bottom: 24px;
}

.form form select option{
    background-color: var(--color-black);
    border: none;
    outline: transparent;
    color: var(--color-white);
}

.form form select option:checked{
    color: var(--color-black);
    background: var(--color-white);
}
.container-info-statitics{
    display: flex;
    flex-direction: column;
}
.info-statitics{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1rem;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    margin-bottom: 1rem;
}

.info-statitics i{
    color: #000;
    font-size: 1.5rem;
}

.info-statitics p{
    width: 80%;
    margin: 0;
}
